aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
aiosmtplib==5.0.0
altgraph==0.17.4
amqp==5.3.1
aniso8601==10.0.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
apsw==3.51.2.0
arrow==1.4.0
attrs==25.4.0
bcrypt==5.0.0
billiard==4.2.4
binaryornot==0.4.4
blinker==1.9.0
CacheControl==0.14.4
celery==5.6.0
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cookiecutter==2.6.0
cryptography==46.0.3
DateTime==6.0
exceptiongroup==1.3.1
fastapi==0.128.0
firebase==4.0.1
firebase_admin==7.1.0
Flask==3.1.2
Flask-RESTful==0.3.10
flet==0.80.2
flet-cli==0.80.1
flet-desktop==0.80.1
frozenlist==1.8.0
gcloud==0.18.3
google-api-core==2.29.0
google-auth==2.47.0
google-cloud-core==2.5.0
google-cloud-firestore==2.22.0
google-cloud-storage==3.7.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.76.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.1
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
jwcrypto==1.5.6
jwt==1.4.0
kombu==5.6.1
logging==0.4.9.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
msgpack==1.1.2
multidict==6.7.0
oauth2client==4.1.3
oauthlib==3.3.1
packaging==25.0
pefile==2023.2.7
pillow==10.4.0
pip-9454-a==0.1
pip-api==0.0.34
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.0
protobuf==6.33.4
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyJWT==2.10.1
pyparsing==3.3.1
Pyrebase4==4.8.0
python-dateutil==2.9.0.post0
python-jwt==4.1.0
python-slugify==8.0.4
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.3
qrcode==8.2
redis==7.1.0
repath==0.9.0
requests==2.32.5
requests-toolbelt==0.10.1
rich==14.2.0
rsa==4.9.1
S3Sqlite3==0.2
schedule==1.2.2
setuptools==80.9.0
six==1.17.0
smtplibaio==2.1.2.post1
starlette==0.50.0
text-unidecode==1.3
ttkbootstrap==1.14.2
twilio==9.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==1.26.20
uuid==1.30
uvicorn==0.40.0
vine==5.1.0
watchdog==6.0.0
wcwidth==0.2.14
Werkzeug==3.1.4
yarl==1.22.0
zope.interface==8.1.1
